In [9]:
# Dependancies
import pandas as pd
from pathlib import Path

# File to load
life_2015_load = Path("Resources/IHME_2015_BOTH.csv")

#read data and store into panda DataFrame
life_2015 = pd.read_csv(life_2015_load)
life_2015

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,year,metric_id,metric_name,val,upper,lower
0,26,Life expectancy,102,United States of America,NaN,1,Total,3,Both,28,<1 year,2015,1,Number,78.782582,78.808675,78.754741
1,26,Life expectancy,102,United States of America,NaN,2,Latino,3,Both,28,<1 year,2015,1,Number,81.925946,82.166766,81.689644
2,26,Life expectancy,102,United States of America,NaN,4,Black,3,Both,28,<1 year,2015,1,Number,75.212421,75.309746,75.108580
3,26,Life expectancy,102,United States of America,NaN,5,White,3,Both,28,<1 year,2015,1,Number,78.687580,78.730029,78.642574
4,26,Life expectancy,102,United States of America,NaN,6,AIAN,3,Both,28,<1 year,2015,1,Number,73.065318,74.722792,71.514047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365935,26,Life expectancy,3699,Weston County (Wyoming),56045.0,2,Latino,3,Both,160,85 plus,2015,1,Number,NaN,NaN,NaN
365936,26,Life expectancy,3699,Weston County (Wyoming),56045.0,4,Black,3,Both,160,85 plus,2015,1,Number,NaN,NaN,NaN
365937,26,Life expectancy,3699,Weston County (Wyoming),56045.0,5,White,3,Both,160,85 plus,2015,1,Number,7.790447,8.506091,7.157929
365938,26,Life expectancy,3699,Weston County (Wyoming),56045.0,6,AIAN,3,Both,160,85 plus,2015,1,Number,NaN,NaN,NaN
365939,26,Life expectancy,3699,Weston County (Wyoming),56045.0,7,API,3,Both,160,85 plus,2015,1,Number,NaN,NaN,NaN

In [10]:
life_2015.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'fips',
       'race_id', 'race_name', 'sex_id', 'sex_name', 'age_group_id',
       'age_name', 'year', 'metric_id', 'metric_name', 'val', 'upper',
       'lower'],
      dtype='object')

In [29]:
clean_2015 = life_2015.query("location_name == 'Travis County (Texas)' | location_name == 'Mecklenburg County (North Carolina)' | location_name == 'San Francisco County (California)' | location_name == 'Denver County (Colorado)'")
clean_2015

,measure_id,measure_name,location_id,location_name,fips,race_id,race_name,sex_id,sex_name,age_group_id,age_name,year,metric_id,metric_name,val,upper,lower
23136,26,Life expectancy,794,San Francisco County (California),6075.0,1,Total,3,Both,28,<1 year,2015,1,Number,82.683545,82.821655,82.548617
23137,26,Life expectancy,794,San Francisco County (California),6075.0,2,Latino,3,Both,28,<1 year,2015,1,Number,82.512680,83.073650,82.021688
23138,26,Life expectancy,794,San Francisco County (California),6075.0,4,Black,3,Both,28,<1 year,2015,1,Number,71.759737,72.336349,71.211045
23139,26,Life expectancy,794,San Francisco County (California),6075.0,5,White,3,Both,28,<1 year,2015,1,Number,82.096319,82.316798,81.885935
23140,26,Life expectancy,794,San Francisco County (California),6075.0,6,AIAN,3,Both,28,<1 year,2015,1,Number,69.314642,72.380484,66.487469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323023,26,Life expectancy,3279,Travis County (Texas),48453.0,2,Latino,3,Both,160,85 plus,2015,1,Number,7.378608,7.678854,7.086849
323024,26,Life expectancy,3279,Travis County (Texas),48453.0,4,Black,3,Both,160,85 plus,2015,1,Number,6.750500,7.061731,6.446718
323025,26,Life expectancy,3279,Travis County (Texas),48453.0,5,White,3,Both,160,85 plus,2015,1,Number,6.581924,6.703015,6.475762
323026,26,Life expectancy,3279,Travis County (Texas),48453.0,6,AIAN,3,Both,160,85 plus,2015,1,Number,11.860190,15.199010,8.743877
323027,26,Life expectancy,3279,Travis County (Texas),48453.0,7,API,3,Both,160,85 plus,2015,1,Number,8.103801,8.792428,7.424384

In [35]:
complete_2015 = clean_2015[['location_name','age_name','val']]
complete_2015

                            location_name age_name        val
23136   San Francisco County (California)  <1 year  82.683545
23137   San Francisco County (California)  <1 year  82.512680
23138   San Francisco County (California)  <1 year  71.759737
23139   San Francisco County (California)  <1 year  82.096319
23140   San Francisco County (California)  <1 year  69.314642
...                                   ...      ...        ...
323023              Travis County (Texas)  85 plus   7.378608
323024              Travis County (Texas)  85 plus   6.750500
323025              Travis County (Texas)  85 plus   6.581924
323026              Travis County (Texas)  85 plus  11.860190
323027              Travis County (Texas)  85 plus   8.103801

[456 rows x 3 columns]